.DS_Store
api/src/QmtdltTools/QmtdltTools/bin/
api/src/QmtdltTools/QmtdltTools/obj/

api/src/QmtdltTools/QmtdltTools.Domain/bin/
api/src/QmtdltTools/QmtdltTools.Domain/obj/

api/src/QmtdltTools/QmtdltTools.EFCore/bin/
api/src/QmtdltTools/QmtdltTools.EFCore/obj/

api/src/QmtdltTools/QmtdltTools.Service/bin/
api/src/QmtdltTools/QmtdltTools.Service/obj/
/api/src/QmtdltTools/.vs/QmtdltTools/CopilotIndices/17.12.53.23981
/api/src/QmtdltTools/.vs
/api/src/QmtdltTools/QmtdltTools/QmtdltTools.csproj.user
/api/src/QmtdltTools/QmtdltTools/appsettings.json
*.epub
/api/src/QmtdltTools/QmtdltTools.DbMigration/bin/Debug/net9.0
/api/src/QmtdltTools/QmtdltTools.DbMigration/obj
api/src/QmtdltTools/QmtdltTools.sln.DotSettings.user
/api/src/QmtdltTools/QmtdltTools/Properties/PublishProfiles/FolderProfile.pubxml.user
/api/src/QmtdltTools/QmtdltTools/wwwroot/uploads/epubs
/api/src/QmtdltTools/QmtdltTools.WPF/bin
/api/src/QmtdltTools/QmtdltTools.WPF/obj
/api/src/QmtdltTools/QmtdltTools.WPF/appsettings.json
