.DS_Store
api/src/QmtdltTools/QmtdltTools/bin/
api/src/QmtdltTools/QmtdltTools/obj/

api/src/QmtdltTools/QmtdltTools.Domain/bin/
api/src/QmtdltTools/QmtdltTools.Domain/obj/

api/src/QmtdltTools/QmtdltTools.EFCore/bin/
api/src/QmtdltTools/QmtdltTools.EFCore/obj/

api/src/QmtdltTools/QmtdltTools.Service/bin/
api/src/QmtdltTools/QmtdltTools.Service/obj/
/api/src/QmtdltTools/.vs/QmtdltTools/CopilotIndices/17.12.53.23981
/api/src/QmtdltTools/.vs
/api/src/QmtdltTools/QmtdltTools/QmtdltTools.csproj.user
/api/src/QmtdltTools/QmtdltTools/appsettings.json
*.epub
